<%= form_with(model: synergy, local: true) do |form| %>
  <% if synergy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(synergy.errors.count, "error") %> prohibited this synergy from being saved:</h2>

      <ul>
      <% synergy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :s_name %>
    <%= form.text_field :s_name %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
