<p id="notice"><%= notice %></p>

<h1>Synergies</h1>

<table>
  <thead>
    <tr>
      <th>S name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @synergies.each do |synergy| %>
      <tr>
        <td><%= synergy.s_name %></td>
        <td><%= link_to 'Show', synergy %></td>
        <td><%= link_to 'Edit', edit_synergy_path(synergy) %></td>
        <td><%= link_to 'Destroy', synergy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Synergy', new_synergy_path %>
